{% extends 'accounts/common.html' %}

{% block content %}

<div class="wrapper-nav">
    <div class="container">
        <!-- Mostra l'avviso se l'IP non corrisponde -->
        {% if checkIp == True %}
            <p>The current IP address is different from the previous one you logged in with!</p>
        {% endif %}

        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
        <ul class="lista-home">
            <!-- Link con testo che cambia se l'accesso è stato effettuato con account con privilegi staff -->
            {% if request.user.is_staff %}
                <li><a class='text' href="{% url 'consumi' %}">View the table with the total consumption, product and hash (admin)</a></li>
                <li><a class='text' href="{% url 'inser' %}">Form to enter database data (admin)</a></li>
            {% else %}
                <li><a class='text' href="{% url 'consumi' %}">View the table with consumption and hash</a></li>
            {% endif %}
        </ul>
    </div>

    

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>


{% endblock %}